@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
}

.section-padding {
    padding: 40px 0px;
}

@media screen and (min-width: 991px) {
    .section-padding {
        padding: 90px 0px;
    }
}

.section-margin {
    padding: 80px 0px;
}

.btn-hoverable {
    border: none;
    border-radius: 0;
    padding: 3px 15px;
    color: #ee7d03;
    background: transparent;
    position: relative;
    overflow: hidden;
    box-shadow: #ee7d03 0px 0px 0px 2px;
}

.btn-hoverable span {
    color: #ee7d03;
    position: relative;
    z-index: 10;
    display: inline-block;
    transition: all 0.3s ease;
}

.btn-hoverable::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ee7d03;
    transform: translateX(-150%);
    transition: 0.3s all ease-in-out;
}

.btn-hoverable:hover span {
    color: #fff !important;
}

.btn-hoverable:hover::after {
    transform: translateX(0);
}



.btn-hoverable2 {
    border: none;
    border-radius: 5;
    padding: 3px 15px;
    color: #ee7d03;
    background: transparent;
    position: relative;
    overflow: hidden;
    box-shadow: #ee7d03 0px 0px 0px 2px;
}

.pagination .page-item .funBtn {
    background-color: #008fd7 !important;
}

.pagination .page-item .funBtn span {
    filter: brightness(0) invert(1);
}

.pagination .page-item .page-link {
    transition: 0.3s all ease-in-out;
}

.pagination .page-item .page-link:hover {
    background-color: #008fd7;
    color: #fff !important;
}

.top__header-wrappper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 15rem;
}

.top__header-wrappper .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(38, 36, 34, 0.3490196078);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top__header-wrappper .overlay #subheader-title2 h1 {
    font-weight: 700;
    font-size: 33px;
    color: #fff;
    text-align: center;
}

.album-section .album__image-section .album__item {
    position: relative;
    width: 100%;
    height: 12rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s all ease-in-out;
    overflow: hidden;
    border-radius: 6px;
}

.album-section .album__image-section .album__item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(1, 80, 158, 0.7882352941) 0%, rgba(0, 158, 148, 0.8588235294) 100%);
    opacity: 0;
    transition: 0.3s all ease-in-out;
    z-index: 1;
}

.album-section .album__image-section .album__item .album-img__holder {
    width: 100%;
    height: 100%;
}

.album-section .album__image-section .album__item .album-img__holder img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: 0.5s all ease-in-out;
}

.album-section .album__image-section .album__item .album__title {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: 0.3s all ease-in-out;
    z-index: 2;
    transform: translateY(-20%);
    padding: 10px;
}

.album-section .album__image-section .album__item .album__title h5 {
    font-size: 18px;
    color: #fff;
}

.album-section .album__image-section .album__item:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: scale(1.1);
}

.album-section .album__image-section .album__item:hover .album-img__holder img {
    transform: scale(1.05);
}

.album-section .album__image-section .album__item:hover .album__title {
    opacity: 1;
    transform: translateY(0%);
}

.album-section .album__image-section .album__item:hover .overlay {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .album-section .album__image-section .album__item {
        width: 100%;
        height: 15rem;
    }
}

.photo__gallery-section .photo__gallery .gallery__image {
    width: 100%;
    height: 12rem;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s all ease-in-out;
}

.photo__gallery-section .photo__gallery .gallery__image img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: 0.3s all ease-in-out;
}

.photo__gallery-section .photo__gallery .gallery__image:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.photo__gallery-section .photo__gallery .gallery__image:hover img {
    transform: scale(1.03);
}

@media screen and (max-width: 768px) {
    .photo__gallery-section .photo__gallery .gallery__image {
        height: 15rem;
    }
}

.notice-section .accordion .top__button .date {
    margin-right: 10px;
}

.notice-section .accordion .top__button .date i {
    color: #ee7d03;
}

.notice-section .accordion .accordion-item {
    border-radius: 0 !important;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.notice-section .accordion .accordion-item .accordion-button {
    border-radius: 0 !important;
    box-shadow: none;
}

.notice-section .accordion .accordion-item .accordion-button i {
    margin-right: 5px;
}

.notice-section .accordion .accordion-item .accordion-button span {
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .notice-section .accordion .accordion-button {
        padding: 16px 10px !important;
    }

    .notice-section .accordion .accordion-button .left__wrapper {
        font-size: 10px;
        width: 7rem;
    }

    .notice-section .accordion .accordion-button .left__wrapper i {
        margin-right: 0 !important;
    }

    .notice-section .accordion .accordion-button .date {
        font-size: 10px;
        margin-right: 5px !important;
    }

    .notice-section .accordion .accordion-button .date i {
        margin-right: 0px !important;
    }

    .notice-section .accordion .accordion-body span {
        font-size: 12px;
    }
}

.information-section .sidebar {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.information-section .sidebar .sidebar__items {
    background-color: #fff;
}

.information-section .sidebar .sidebar__items ul {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    border-left: 2px solid #008fd7;
}

.information-section .sidebar .sidebar__items ul .side__links {
    position: relative;
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 1px;
}

.information-section .sidebar .sidebar__items ul .side__links::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #008fd7;
    transition: 0.3s all ease-in-out;
}

.information-section .sidebar .sidebar__items ul .side__links a {
    position: relative;
    color: #181818;
    font-size: 16px;
    transition: 0.3s all ease-in-out;
}

.information-section .sidebar .sidebar__items ul .side__links.active::before {
    width: 100%;
}

.information-section .sidebar .sidebar__items ul .side__links.active a {
    color: #fff;
}

.information-section .sidebar .sidebar__items ul .side__links:hover a {
    color: #fff;
    transition: 0.3s all ease-in-out;
}

.information-section .sidebar .sidebar__items ul .side__links:hover::before {
    width: 100%;
    transition: 0.3s all ease-in-out;
}

.information-section .content__wrapper {
    background-color: #fff;
}

.information-section .content__wrapper .swiper {
    width: 100%;
    height: 21rem;
}

.information-section .content__wrapper .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-section .content__wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

/* .information-section .info__text-wrapper h2 {
  color: #008fd7;
} */
/* .info__text-wrapper h3 {
  color: #008fd7;
} */

@media screen and (max-width: 992px) {
    .information-section .swiper {
        height: 100%;
    }
}

.aboutUs-section .aboutUs__wrapper .about__items {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
    margin-bottom: 1.5rem;
}

.aboutUs-section .aboutUs__wrapper .about__items .img__holder {
    height: 18rem;
}

.aboutUs-section .aboutUs__wrapper .about__items .img__holder img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

.aboutUs-section .aboutUs__wrapper .about__items .text__holder {
    padding: 10px;
    max-height: 9rem;
    overflow: hidden;
}

.aboutUs-section .aboutUs__wrapper .about__items .text__holder h4 {
    font-size: 20px;
    margin: 0;
}

.aboutUs-section .aboutUs__wrapper .about__items .text__holder h6 {
    font-size: 14px;
}

.aboutUs-section .aboutUs__wrapper .about__items:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.3s all ease-in-out;
}

.contact-section .contact-wrap {
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contact-section .contact-wrap .contactForm .label {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.contact-section .contact-wrap .contactForm .form-control {
    font-size: 16px;
    height: 44px;
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    box-shadow: none !important;
    margin-bottom: 1rem;
}

.contact-section .contact-wrap .contactForm textarea.form-control {
    height: inherit !important;
}

.contact-section .info-wrap {
    background-color: #008fd7;
}

.contact-section .info-wrap h3 {
    color: #fff;
}

.contact-section .info-wrap .dbox {
    margin-bottom: 25px;
}

.contact-section .info-wrap .dbox .text {
    width: calc(100% - 50px);
}

.contact-section .info-wrap .dbox .text p {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.contact-section .info-wrap .dbox .text p span {
    font-weight: 600;
    color: #fff;
}

.contact-section .info-wrap .dbox .text p a {
    color: rgba(255, 255, 255, 0.8);
}

.contact-section .info-wrap .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1019607843);
}

.contact-section .info-wrap .icon span {
    font-size: 20px;
    color: #fff;
}

@media (min-width: 992px) {

    .contact-section .no-gutters>.col,
    .contact-section .no-gutters>[class*=col-] {
        padding-right: 0;
        padding-left: 0;
    }

    .contact-section .info-wrap {
        margin-top: -20px;
        margin-bottom: -20px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 1200px) {
    .contact-section .button__wrapper {
        display: inline-block !important;
    }
}

.news-and-events__section .events__wrapper .events__items {
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #e0e0e0;
    transition: 0.3s all ease-in-out;
}

.news-and-events__section .events__wrapper .events__items .img__holder {
    width: 100%;
    height: 15rem;
}

.news-and-events__section .events__wrapper .events__items .img__holder img {
    -o-object-fit: cover;
    object-fit: cover;
}

.news-and-events__section .events__wrapper .events__items .event__text {
    max-height: 6rem;
    overflow: hidden;
    margin-bottom: 10px;
}

.news-and-events__section .events__wrapper .events__items:hover {
    border: 1px solid #008fd7;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.3s all ease-in-out;
}

.news-and-events__section .events__wrapper .events__items .left__img .event__body {
    padding-right: 2rem;
}

.news-and-events__section .events__wrapper .events__items .right__img .event__body {
    padding-left: 2rem;
}

@media screen and (max-width: 992px) {

    .news-and-events__section .events__wrapper .events__items .left__img .img__holder,
    .news-and-events__section .events__wrapper .events__items .right__img .img__holder {
        height: 100%;
    }

    .news-and-events__section .events__wrapper .events__items .left__img .event__body,
    .news-and-events__section .events__wrapper .events__items .right__img .event__body {
        padding: 1rem !important;
    }

    .news-and-events__section .events__wrapper .events__items .right__img {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 768px) {

    .news-and-events__section .events__wrapper .events__items .no-gutters>.col,
    .news-and-events__section .events__wrapper .events__items .no-gutters>[class*=col-] {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

.news-and-events__section .modal .img__holder {
    width: 100%;
    height: auto;
    margin-bottom: 1.2rem;
}

.news-and-events__section .modal .img__holder img {
    -o-object-fit: cover;
    object-fit: cover;
}

.promotors-section .aboutUs__wrapper .about__items {
    background-color: #fff;
    margin-bottom: 1.7rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 100%;
}

.promotors-section .aboutUs__wrapper .about__items .img__holder {
    border: 3px solid #008fd7;
    height: 20rem;
}

.promotors-section .aboutUs__wrapper .about__items .img__holder img {
    -o-object-fit: cover;
    object-fit: cover;
}

.promotors-section .aboutUs__wrapper .about__items .text__holder {
    padding: 10px 10px 10px 0;
    max-height: 9rem;
    overflow: hidden;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header .top__header {
    padding: 5px 0;
    background-color: #008fd7;
}

header .top__header .left__wrapper .inquiry__wrapper a,
header .top__header .left__wrapper .email__wrapper a {
    color: #fff;
}

header .top__header .left__wrapper .inquiry__wrapper a .phone__class i,
header .top__header .left__wrapper .email__wrapper a .phone__class i {
    border: 1px solid #fff;
    padding: 3px;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 12px;
}

header .top__header .left__wrapper .inquiry__wrapper a .phone__class .inquiry p,
header .top__header .left__wrapper .email__wrapper a .phone__class .inquiry p {
    font-weight: 500;
}

header .top__header .left__wrapper .inquiry__wrapper .dropdown-menu,
header .top__header .left__wrapper .email__wrapper .dropdown-menu {
    background-color: #fff;
    border: none;
    padding-bottom: 0;
    border-radius: 6px;
    overflow: hidden;
    padding-top: 3px;
}

header .top__header .left__wrapper .inquiry__wrapper .dropdown-menu a,
header .top__header .left__wrapper .email__wrapper .dropdown-menu a {
    font-size: 14px;
}

header .top__header .right__wrapper .listed__items {
    border-right: 1px solid #fff;
    padding: 0 6px;
}

header .top__header .right__wrapper .location span {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

header .top__header .right__wrapper .location span i {
    color: #fff;
}

header .top__header .right__wrapper .social_icon a {
    margin: 0 5px;
    font-size: 16px;
    color: #fff;
}

header .top__header .right__wrapper .social_icon a:hover {
    color: #ee7d03;
    transition: 0.3s all ease-in-out;
}

@media screen and (max-width: 768px) {
    header .top__header .top__header-wrapper {
        display: block !important;
    }

    header .top__header .top__header-wrapper .left__wrapper {
        width: 100%;
        justify-content: center;
    }

    header .top__header .top__header-wrapper .left__wrapper a {
        font-size: 12px;
    }

    header .top__header .top__header-wrapper .left__wrapper a i {
        font-size: 10px !important;
    }

    header .top__header .top__header-wrapper .right__wrapper {
        width: 100%;
        justify-content: center !important;
    }

    header .top__header .top__header-wrapper .right__wrapper .location span {
        font-size: 12px;
    }

    header .top__header .top__header-wrapper .right__wrapper .social_icon a {
        font-size: 12px !important;
        margin: 0 3px;
    }
}

header .navbar {
    background-color: #e9faff;
}

header .navbar .navbar-brand .logo {
    width: 12rem;
    height: auto;
}

header .navbar .celebration {
    width: 5rem;
}

header .navbar .navbar-toggler {
    border: 1px solid #008fd7;
}

header .navbar .navbar-toggler .fa-bars {
    color: #008fd7;
}

header .navbar .navbar-toggler:focus {
    box-shadow: none;
}

header .navbar .nav-item .nav-link {
    color: #000;
    font-weight: 500;
}

header .navbar .nav-item .nav-link:hover {
    color: #fff;
    background-color: #008fd7;
}

header .navbar .nav-item.active .nav-link {
    color: #fff;
    background-color: #008fd7;
}

header .navbar .dropdown-menu {
    border-radius: 0;
    padding: 5px 0;
    background-color: #e9faff;
}

header .navbar .dropdown-menu li {
    position: relative;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

header .navbar .dropdown-menu li a:hover {
    background-color: #008fd7 !important;
    color: #fff !important;
}

header .navbar .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0px;
}

header .navbar .dropdown-menu .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

header .navbar .dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

/* logo square type */
.logo2 {
    position: absolute;
    top: 0;
    left: 0px;
    width: 120px;
    height: 120px;
    border-radius: 0px 0px 22px 22px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px #00000030;
    padding: 10px 10px;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.logo2:hover {
    -webkit-box-shadow: 0 0 15px #00000050;
    box-shadow: 0 0 15px #00000095;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.logo2 img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

/* end square type logo */

@media (min-width: 992px) {
    header .navbar .celebration {
        margin-left: 1.5rem;
    }

    header .navbar .nav-item .nav-link {
        position: relative;
        color: #000;
        font-weight: 500;
    }

    header .navbar .nav-item .nav-link::after {
        display: none;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #ee7d03;
        border: none !important;
    }

    header .navbar .nav-item .nav-link:hover {
        color: #ee7d03;
        background-color: transparent;
    }

    header .navbar .nav-item .nav-link:hover::after {
        display: block;
    }

    header .navbar .nav-item.active .nav-link {
        background-color: transparent !important;
        color: #ee7d03;
    }

    header .navbar .nav-item.active .nav-link::after {
        display: block;
    }

    header .navbar .dropdown-menu {
        border: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    header .navbar .dropdown-toggle::after {
        display: none;
        border: none !important;
    }
}

@media screen and (max-width: 1200px) {
    header .navbar-brand .logo {
        width: 8rem !important;
        height: auto;
    }

    header .celebration {
        width: 4rem !important;
    }
}

@media screen and (max-width: 992px) {
    header .navbar .navbar-brand {
        margin-right: 0;
    }

    header .navbar .nav-link {
        padding-left: 10px;
    }

    header .navbar .dropdown-menu {
        left: 0 !important;
        top: 30px !important;
        width: 100% !important;
    }
}

.swiper-container {
    position: relative;
    width: 100%;
    height: 88vh;
    overflow: hidden;
}

.swiper-container .swiper-slide {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.swiper-container .slide-captions {
    position: absolute;
    top: 50%;
    left: 15%;
    color: #fff;
    z-index: 99;
    transform: translateY(-50%);
}

.swiper-container .slide-captions .current-title {
    margin: 0;
    font-size: 48px;
}

.swiper-container .slide-captions .current-subtitle {
    margin: 10px 0 0 0;
    font-size: 28px;
}

.swiper-container .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 0.9;
}

.swiper-container .swiper-pagination-bullet-active {
    background-color: #ee7d03;
}

.swiper-container .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 50px;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
    top: 50%;
    color: #fff;
    opacity: 0;
    transition: 0.3s all ease-in-out;
}

.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev {
    opacity: 0.8;
    transition: 0.3s all ease-in-out;
}

@media screen and (max-width: 992px) {
    .swiper-container {
        height: 20rem;
    }

    .swiper-container .slide-captions {
        left: 5%;
    }

    .swiper-container .slide-captions .current-title {
        font-size: 28px;
    }

    .swiper-container .slide-captions .current-subtitle {
        font-size: 16px;
    }
}

.informartion .aboutus__image .about__image-two {
    max-width: 100%;
    height: 100%;
}

.informartion .aboutus__image .center__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #008fd7;
    width: 133px;
    height: 133px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 13px;
    box-shadow: 8px 8px 0 0px #fff;
}

.informartion .aboutus__image .center__info h5 {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.informartion .aboutus__image .center__info span {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    .informartion .aboutus__image .center__info {
        display: none;
    }
}

.informartion .aboutus__description {
    padding: 25px;
}

.informartion .aboutus__description .top__small {
    position: relative;
    width: 9rem;
    text-align: center;
}

.informartion .aboutus__description .top__small span {
    font-weight: 700;
    font-size: 14px;
    color: #ee7d03;
}

.informartion .aboutus__description .top__small::after {
    position: absolute;
    top: 10px;
    left: 0;
    content: "";
    background: #ee7d03;
    width: 1.8rem;
    height: 2px;
}

.informartion .aboutus__description .top__small::before {
    position: absolute;
    top: 10px;
    right: 0;
    content: "";
    background: #ee7d03;
    width: 1.8rem;
    height: 2px;
}

.informartion .aboutus__description .top__big-text {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 35px;
}

/* .informartion .aboutus__description .top__big-text h3 {
  font-weight: 800;
  font-size: 40px;
  line-height: 42px;
  color: #008fd7;
  margin: 0;
} */
.informartion .aboutus__description .moto {
    color: #181818;
    font-family: "Inter";
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.informartion .aboutus__description .main__decription p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181818;
}

.msg__wrapper .message-item {
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.3s all ease-in-out;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: #fff;
}

.msg__wrapper .message-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #008fd7;
    transition: 0.3s all ease-in-out;
}

.msg__wrapper .message-item .img__holder {
    position: relative;
    height: auto;
}

.msg__wrapper .message-item .img__holder img {
    width: 15rem;
    height: 15rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

.msg__wrapper .message-item .text__holder {
    position: relative;
    padding: 10px;
    /* text-align: center; */
}

.msg__wrapper .message-item .text__holder h3 {
    color: #181818;
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    transition: 0.3s all ease-in-out;
}

.msg__wrapper .message-item .text__holder span {
    font-size: 14px;
    font-weight: 600;
    color: #868686;
    transition: 0.3s all ease-in-out;
}

.msg__wrapper .message-item .text__holder p {
    color: #181818;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    transition: 0.3s all ease-in-out;
}

.msg__wrapper .message-item .text__holder a {
    color: #008fd7;
    font-size: 14px;
    transition: 0.3s all ease-in-out;
}

.msg__wrapper .message-item:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.3s all ease-in-out;
}

.msg__wrapper .message-item:hover h3,
.msg__wrapper .message-item:hover p,
.msg__wrapper .message-item:hover span {
    color: #fff;
    transition: 0.3s all ease-in-out;
}

.msg__wrapper .message-item:hover a {
    color: #ffffff;
}

.msg__wrapper .message-item:hover a:hover {
    color: #fff;
}

.msg__wrapper .message-item:hover::before {
    width: 100%;
    transition: 0.3s all ease-in-out;
}

@media screen and (max-width: 512px) {
    .msg__wrapper .message-item {
        display: block;
    }

    .msg__wrapper .message-item .img__holder img {
        width: 100%;
    }
}

.news-and-events__section .news-top__header h3 {
    font-weight: 700;
    color: #008fd7;
}

.news-and-events__section .news-top__header a {
    color: #868686;
    transition: 0.3s all ease-in-out;
    border-bottom: 2px solid #ee7d03;
    margin: 0;
    padding: 0;
    height: 25px;
    font-weight: 500;
}

.news-and-events__section .news-top__header a:hover {
    color: #181818;
}

.news-and-events__section .event__wrapper a {
    color: #868686;
}

.news-and-events__section .event__wrapper .event-item {
    position: relative;
}

.news-and-events__section .event__wrapper .event-item .event-image {
    width: 100%;
    height: 14rem;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: 0.3s all ease-in-out;
}

.news-and-events__section .event__wrapper .event-item .event-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s all ease-in-out;
}

.news-and-events__section .event__wrapper .event-item .event-image img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: 0.3s all ease-in-out;
}

.news-and-events__section .event__wrapper .event-item .event-details h6 {
    color: #414141;
    transition: 0.3s all ease-in-out;
}

.news-and-events__section .event__wrapper .event-item::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 5rem;
    height: 2px;
    background-color: #ee7d03;
    transition: 0.3s all ease-in-out;
}

.news-and-events__section .event__wrapper .event-item:hover .event-details h6 {
    color: #000;
}

.news-and-events__section .event__wrapper .event-item:hover .event-image::after {
    box-shadow: none;
}

.news-and-events__section .event__wrapper .event-item:hover .event-image img {
    transform: scale(1.1);
}

.news-and-events__section .event__wrapper .event-item:hover::after {
    width: 80%;
}

.news-and-events__section .event__wrapper .swiper {
    width: 100%;
    height: 100%;
}

.news-and-events__section .event__wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.news-and-events__section .right-notice .card {
    background-color: #363636;
    transition: 0.3s all ease-in-out;
}

.news-and-events__section .right-notice .card h5 {
    color: #fff;
}

.news-and-events__section .right-notice .card #style-7::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 0px;
}

.news-and-events__section .right-notice .card #style-7::-webkit-scrollbar {
    width: 10px;
}

.news-and-events__section .right-notice .card #style-7::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #ee7d03;
}

.news-and-events__section .right-notice .card ul {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    height: 16rem;
    overflow: auto;
}

.news-and-events__section .right-notice .card ul li {
    position: relative;
    margin-bottom: 10px;
}

.news-and-events__section .right-notice .card ul li::after {
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: #ee7d03;
    content: "";
    width: 5rem;
    height: 2px;
    transition: 0.3s all ease-in-out;
}

.news-and-events__section .right-notice .card ul li a {
    color: #fff;
    transition: 0.3s all ease-in-out;
}

.news-and-events__section .right-notice .card ul li a p {
    font-size: 12px;
    margin: 0;
}

.news-and-events__section .right-notice .card ul li a span {
    font-size: 10px;
    opacity: 0.7;
}

.news-and-events__section .right-notice .card ul li:hover::after {
    width: 15rem;
}

.news-and-events__section .right-notice .card ul li:hover a {
    color: #f1f1f1;
}

.news-and-events__section .right-notice .card:hover {
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.gallery-section .top__header {
    position: relative;
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
}

.gallery-section .top__header h3 a {
    font-size: 34px;
    font-weight: 700;
    color: #008fd7;
}

.gallery-section .gg-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 8px;
}

.gallery-section .gg-box .gg-element {
    overflow: hidden;
    border-radius: 10px;
}

.gallery-section .gg-box .gg-element img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: 0.3s all ease-in-out;
}

.gallery-section .gg-box .gg-element:hover img {
    transform: scale(1.1);
}

@media (min-width: 478px) {
    .gallery-section .gg-box .gg-element:nth-child(3n+0) {
        grid-row-end: span 2;
    }
}

#footer {
    padding: 60px 0 0 0;
    background: linear-gradient(to right, #008fd7, #0062e6);
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #fff;
}

#footer a {
    color: #fff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer .brochure {
    background-color: #fff;
    border-radius: 5px;
    width: 9.4rem;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#footer .brochure:hover {
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}

#footer .counter img {
    width: 10rem;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a {
    color: #fff;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    transition: 0.5s all ease;
}

#footer ul.social li a:hover {
    color: #eee;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.quick-links li {
    padding: 3px 0;
    transition: 0.5s all ease;
}

#footer ul.quick-links li a {
    color: #fff;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width: 767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

.message-section {
    min-height: 30rem;
}

.message-section .message-img {
    float: left;
    margin: 0 15px 5px 0;
}

.message-section .message-img img {
    width: 19rem;
    height: 19rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    border: 3px solid #008fd7;
}

.message-section .message-wrapper p {
    margin-bottom: 8px;
    text-align: justify;
}

@media screen and (max-width: 992px) {
    .message-section {
        min-height: 0;
    }

    .message-section .message-img {
        float: none;
        display: flex;
        justify-content: center;
        margin: 0 0 10px 0;
    }
}

@media screen and (max-width: 425px) {
    .message-section .message-img img {
        width: 100%;
    }

    .message-section .message-wrapper h5 {
        font-size: 18px;
    }
}

.modal .modal-dialog .modal-content .modal-body {
    position: relative;
}

.modal .modal-dialog .modal-content .modal-body .btn-close {
    position: absolute;
    right: 0px;
    top: -30px;
    filter: invert(100%);
}

.modal .modal-dialog .modal-content .modal-body .service__details .service-image {
    width: 100%;
    height: 27rem;
}

.modal .modal-dialog .modal-content .modal-body .service__details .service-image img {
    -o-object-fit: cover;
    object-fit: cover;
}

/*# sourceMappingURL=style.css.map */

/*scrolling message */
.annoncementBox {
    height: 56px;
    overflow: hidden;
    border-bottom: 1px solid #cbcbcb;
    background: #EEF2F5;
    background-color: hsla(198, 100%, 20%, 0.07);
}

.annoncementBox {
    height: 56px;
    overflow: hidden;
    border-bottom: 1px solid #cbcbcb;
    background: #EEF2F5;
    background-color: hsla(198, 100%, 20%, 0.07);
}

.annoncementBox .spTitle {
    background-color: #1097C9;
    color: #fff;
    padding: 18px 20px 16px 20px;
    font-size: 16px;
    font-family: 'proxima_novalight';
    text-transform: uppercase;
    float: left;
    position: relative;
}

.annoncementBox .spTitle:after {
    position: absolute;
    content: '';
    border-left: 0px solid #1097C9;
    border-bottom: 10px solid #1097C9;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    right: 0;
    bottom: 0;
    margin: 0px -10px 0px 0px;
}

.annoncementBox .spBody {
    padding: 18px 20px 16px 164px;
    font-family: "Poppins", sans-serif !important;
}

/*** Testimonial Start ***/

.testimonial-item {
    background: #e3f0eb;

}

.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #c1dad0;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--bs-primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}

.img-thumbnail {
    padding: .25rem;
    max-width: 100px;
    height: auto;
}

/*** Testimonial End ***/

/* In home page About us design change*/
.homepage-content-wrapper .about-section {
    position: relative;
    z-index: 1;
    margin-top: -8rem;
    margin-bottom: 6rem;
    background: #ffffff;
    padding: 4rem 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 1200px;
}

.homepage-content-wrapper .about-section .about-img {
    width: 100%;
    height: 25rem;
    overflow: hidden;
    border-radius: 0 30px 0 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.homepage-content-wrapper .about-section .about-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.homepage-content-wrapper .about-section .about-desc {
    padding-bottom: 0.8rem;
}

.homepage-content-wrapper .about-section .about-desc h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.homepage-content-wrapper .about-section .about-desc p {
    font-size: 0.875rem;

}


@media screen and (max-width: 992px) {

    .homepage-content-wrapper .about-section {
        position: relative;
        z-index: 1;
        margin-top: -8rem;
        margin-bottom: 6rem;
        background: #ffffff;
        padding: 0rem 0rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        width: auto;
    }

    .homepage-content-wrapper .about-section .about-img {
        height: 32rem;
    }

    .homepage-content-wrapper .about-section .about-desc h1 {
        font-size: 32px;
        margin-bottom: 1rem;
    }

    .homepage-content-wrapper .about-section .about-desc p {
        font-size: 0.75rem;
    }
}

/* end Home page About us design change*/



/* Social media and counter section design change */

.side__social-media {
    position: fixed;
    right: 20px;
    top: 18rem;
    z-index: 999;
}

.side__social-media {
    position: fixed;
    right: 20px;
    top: 18rem;
    z-index: 999;
}

.side__social-media ul {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}

.side__social-media ul li {
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-bottom: 10px;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
}

.side__social-media ul li i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 0;
    font-size: 24px;
}

.side__social-media ul li:hover {
    background-color: #7e2b24;
}

.side__social-media ul li:hover i {
    color: white;
}

.side__social-media ul li .facebook {
    background-color: #1877f2;
    color: white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.side__social-media ul li .facebook:hover {
    background-color: #7e2b24;
}

.side__social-media ul li .facebook:hover i {
    color: white;
}

.side__social-media ul li .instagram {
    background: -webkit-gradient(linear, left top, right top, from(#f32170), color-stop(#ff6b08), color-stop(#cf23cf), to(#eedd44));
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.side__social-media ul li .instagram:hover {
    background: -webkit-gradient(linear, left top, right top, from(white));
    background: linear-gradient(to right, white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.side__social-media ul li .twitter {
    color: #1d9bf0;
}

.side__social-media ul li .youtube {
    color: red;
}


.white__counter-box {
    margin-right: 6rem;
}

.white__counter-box .icon-image {
    background-color: #e3ebfd94;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
}

.white__counter-box .icon-image img {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 2rem;
    height: auto;
}

.white__counter-box .number-holder h1 {
    font-weight: 600;
    font-size: 36px;
    margin: 0;
}

.white__counter-box .number-holder p {
    color: #888888;
}

@media screen and (max-width: 1400px) {
    .white__counter-box {
        margin-right: 3rem;
    }
}

@media screen and (max-width: 1200px) {
    .white__counter-box {
        margin-right: 1rem;
    }

    .white__counter-box .number-holder h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 992px) {
    .counter {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}

@media screen and (max-width: 768px) {
    .side__social-media {
        right: 10px;
        top: 15rem;
    }

    .side__social-media ul li {
        width: 2rem;
        height: 2rem;
    }

    .side__social-media ul li i {
        font-size: 20px;
        padding: 6px 0;
    }

    .white__counter-box {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .white__counter-box .number-holder h1 {
        font-size: 24px;
    }
}

/* Team testimonial Section next Design Change */

#team-section .team__desc p {
    color: #4e4e4e;
    font-size: 14px;
}

#team-section .right__team-slider .swiper {
    width: 100%;
    height: 100%;
    padding: 20px;
}

#team-section .right__team-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

#team-section .right__team-slider .swiper-slide .swiper__holder {
    position: relative;
}

#team-section .right__team-slider .swiper-slide .swiper__holder .swiper__img {
    position: relative;
    width: 100%;
    height: 18rem;
}

#team-section .right__team-slider .swiper-slide .swiper__holder .swiper__img img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#team-section .right__team-slider .swiper-slide .swiper__holder .swiper__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #012068;
    opacity: 0;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

#team-section .right__team-slider .swiper-slide .swiper__holder .social_icons {
    position: absolute;
    top: 81%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

#team-section .right__team-slider .swiper-slide .swiper__holder .social_icons a {
    color: #fff;
    font-size: 14px;
    padding: 0 10px;
    text-decoration: none;
}

#team-section .right__team-slider .swiper-slide .swiper__holder .slider-desc {
    padding: 15px 10px;
}

#team-section .right__team-slider .swiper-slide .swiper__holder .slider-desc h5 {
    color: #012068;
    font-weight: 700;
    margin: 0;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

#team-section .right__team-slider .swiper-slide .swiper__holder .slider-desc span {
    color: #181818;
    font-size: 14px;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

#team-section .right__team-slider .swiper-slide:hover {
    background-color: #38d200;
}

#team-section .right__team-slider .swiper-slide:hover .swiper__img::before {
    opacity: 0.3;
}

#team-section .right__team-slider .swiper-slide:hover .social_icons {
    top: 72%;
}

#team-section .right__team-slider .swiper-slide:hover .slider-desc h5 {
    color: #fff;
}

#team-section .right__team-slider .swiper-slide:hover .slider-desc span {
    color: #fff;
}

#team-section .right__team-slider .swiper-pagination {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
}

@media screen and (max-width: 992px) {
    #team-section .right__team-slider .swiper-slide .swiper__img {
        width: 100%;
        height: 20rem;
    }
}

@media screen and (max-width: 768px) {
    #team-section .right__team-slider .swiper-slide .swiper__img {
        width: 100%;
        height: 30rem;
    }
}

@media screen and (max-width: 512px) {
    #team-section .right__team-slider .swiper-slide .swiper__img {
        width: 100%;
        height: 25rem;
    }
}

@media screen and (max-width: 426px) {
    #team-section .right__team-slider .swiper-slide .swiper__img {
        width: 100%;
        height: 23rem;
    }
}

@media screen and (max-width: 376px) {
    #team-section .right__team-slider .swiper-slide .swiper__img {
        width: 100%;
        height: 20rem;
    }
}

@media screen and (max-width: 321px) {
    #team-section .right__team-slider .swiper-slide .swiper__img {
        width: 100%;
        height: 16rem;
    }
}

@media screen and (min-width: 992px) {
    #team-section .right__team-slider .swiper {
        padding: 10px;
    }

    #team-section .right__team-slider .swiper-pagination {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #team-section .team__desc h1 {
        font-size: 32px;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 512px) {
    #team-section .team__desc h1 {
        font-size: 28px;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 426px) {
    #team-section .team__desc h1 {
        font-size: 24px;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 376px) {
    #team-section .team__desc h1 {
        font-size: 20px;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 321px) {
    #team-section .team__desc h1 {
        font-size: 18px;
        margin-bottom: 1rem;
    }
}

/* End Team testimonial Section next Design Change */

/*start Program css */

#university-section .uni-logo {
    width: 15 rem;
}

#university-section .uni-desc p {
    font - size: 14 px;
}

.side__menu-wrapper .slide__menu-bar {
    background-color: #ebebeb;
    padding: 25px;
    border-radius: 8px;
}

.side__menu-wrapper .slide__menu-bar ul {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}

.side__menu-wrapper .slide__menu-bar ul li {
    padding: 0px;
    font-size: 14px;
}

.side__menu-wrapper .slide__menu-bar ul li a {
    color: #181818;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    font-weight: 500;
}

.side__menu-wrapper .slide__menu-bar ul li a:hover {
    color: #38d200;
}

.side__menu-wrapper .slide__menu-bar p {
    color: #181818;
    font-weight: 500;
}

.side__img {
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.slide__menu-bar {
    background-color: #ebebeb;
    padding: 25px;
    border-radius: 8px;
}

.slide__menu-bar p {
    color: #181818;
    font-weight: 500;
}

.slide__menu-bar .side__courses .title h4 {
    font-size: 20px;
    font-weight: 700;
    color: #1d225d;
}

.slide__menu-bar .side__courses span {
    font-size: 14px;
    font-weight: 500;
}

.slide__menu-bar .side__courses ul li {
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.slide__menu-bar .side__courses ul li span {
    margin-top: 3px;
}

.slide__menu-bar .side__courses ul li a {
    color: #181818;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.slide__menu-bar .side__courses ul li:hover {
    color: #38d200;
}

.slide__menu-bar .side__courses ul li:hover a {
    color: #38d200;
}


.top__header-wrappper #subheader-title {
    margin-top: -96px;
}

.top__header-wrappper #subheader-title h1 {
    background: #38d200;
    padding: 30px 80px;
    font-weight: 700;
    display: inline-block;
    font-size: 30px;
    position: relative;
    padding-left: 0;
    margin-bottom: 0;
    color: #fff;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 0;
}

.top__header-wrappper #subheader-title h1::before {
    content: "";
    display: block;
    height: 100%;
    width: 400em;
    position: absolute;
    top: 0;
    left: -400em;
    background: #38d200;
    border-radius: 0;
    opacity: 1;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .top__header-wrappper #subheader-title {
        margin-top: -50px;
    }

    .top__header-wrappper #subheader-title h1 {
        padding: 10px 30px;
        font-size: 24px;
    }
}


.shadow-text {
    text-shadow: 0 0 10px rgba(14, 13, 13, 0.9);
}

.glow-dark {
    text-shadow:
        0 0 5px rgba(0, 0, 0, 0.8),
        0 0 10px rgba(0, 0, 0, 0.7),
        0 0 20px rgba(0, 0, 0, 0.6);
}

/* End program css */
