$color-black: #000;
$color-white: #fff;
$primary-color: #008fd7;
$secondary-color: #ee7d03;
$nav-bg: #e9faff;
$text-color: #868686;
$text-color-one: #181818;
$background-color_1: transparent;
$bg-color: #363636;

// slider 